<div class="page_frame">
  <% if @chores.any? %>
    <table class="table">
      <thead>
        <tr>
           <th>Description</th>
           <th>Available</th>
           <th>Signed Up</th>
           <th>Completed</th>
           <th>Amount</th>
           <th>Payment</th>
        </tr>
      </thead>
      <tbody>
      <% @chores.each() do |chore| %>
      <tr>
         <td><%= chore.description %></td>
         <td><%= chore.available %></td>
         <td>
           <% if chore.kid.nil? ==  false %>
              <%= chore.kid.name %>
            <% else %>
              not assigned
           <% end %>
         </td>
         <td>
           <% if chore.complete == true %>
              done
            <% else %>
              not done
            <% end %>
           </td>

         <td class="money"><%= '%.2f' % chore.pay %></td>
         <td class="cell_center">
           <% if chore.complete == true %>
              <a class="button" href="/parent/<%=chore.id %>/pay_kid">Pay</a>
           <% end %>
         </td>
      </tr>
        <% end %>
    </tbody>
    </table>
  <%else%>
    <p> No chores on this list</p>
  <%end%>

  <br>
   <h3>Add Chore</h3>
  <form id="form_id" action="/parent/<%=@parent.id %>/chores" method="post">
    <input type="text" name="description" placeholder="Enter chore description">
    <label for="pay">Enter the pay for this chore $:</label>
      <input type="text" name="pay">
    <button type="submit">Add chore</button>
  </form>
</div>
<footer>
  <button class="back_btn"><a href="/parents/<%= @parent.id %>">Back</a></button>
</footer>
