<div class="page_frame">
<h2>There is <span class="pig_total"> $<%= '%.2f' % @kid.balance %></span> in your Piggybank!</h2>



<h3 class="kid_font">List of Chores</h3>
<table class="table">
  <thead>
    <tr>
       <th>Chore</th>
       <th>Amount</th>
       <th>Signed Up</th>
       <th>Complete?</th>
    </tr>
  </thead>
  <tbody>
  <% @kid.parent.chores.each() do |chore| %>
  <tr>
     <td><%= chore.description %></td>
     <!-- <td> <% if chore.available == true %>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
       </td> -->
     <td class="money"><%= '%.2f' % chore.pay %></td>
     <% if (chore.kid_id.nil?) == false && (chore.kid.id.> 0) %>
     <td class="cell_center"><%= chore.kid.name %></td>
        <% if (chore.kid_id == @kid.id && chore.complete != true) %>
            <td class="cell_center"><a href='/kid/<%=@kid.id %>/chore/<%= chore.id %>/done'>I'm Done!</a></td>
        <% else %>
             <td class="cell_center"><%= chore.complete %></td>
        <% end %>
     <% else %>
      <td class="cell_center"><a href='/kid/<%=@kid.id %>/chore/<%= chore.id %>/signup'>Sign me up!</a></td>
    <% end %>
  </tr>
    <% end %>
</tbody>
</table>






<h3 class="kid_font">Piggybank History</h3>

<h3>Pending Transactions</h3>

<% if @requests.any?() %>

  <table class="table">
    <thead>
      <tr>
         <th>Description</th>
         <th>Amount</th>
         <th>Status</th>
      </tr>
    </thead>
    <tbody>
    <% @requests.each() do |request| %>
    <tr>
       <td><%= request.description %></td>
       <td class="money"><%= request.amount %></td>
       <td class="cell_center">PENDING</td>    </tr>
      <% end %>
  </tbody>
  </table>

<% else %>
<p> You have no withdrawal or deposit requests</p>
<% end %>



<h3>Request a Transaction</h3>


<form id="form_id" action="/kid/<%= @kid.id %>/request" method="post">
  <input type="hidden" name="kid_id" value="<%= @kid.id %>">
  <input type="hidden" name="parent_id" value="<%= @kid.parent.id %>"
  <p><select id="request_type" type="text" name="request_type">
    <option value="deposit">Deposit</option>
    <option value="withdrawal">Withdrawal</option>
  </select>Select transaction type</p>
  <label for="amount">Enter transaction amount: $</label>
  <input type="text" name="amount">
  <p><label for="description">Enter description:</label>
    <input type="text" name="description"></p>
    <button type='submit'>Add request</button>
  </form>
<table class="table">
  <thead>
    <tr>
       <th>Date</th>
       <th>Type</th>
       <th>Description</th>
       <th>Amount</th>
    </tr>
  </thead>
  <tbody>
  <% @transactions.each() do |transaction| %>
  <tr>
     <td><%= transaction.date %></td>
     <td><%= transaction.transaction_type %></td>
     <td><%= transaction.description %></td>
     <td class="money"><%= '%.2f' % transaction.amount %></td>
  </tr>
    <% end %>
</tbody>
</table>




</div>
